.bio {
    /* display: flex; */
    margin-bottom: 2em;
    margin-left: 2em;
    max-width: 800px;
    min-width: 300px;
}

h1.rootHeader {
    /* margin: .2em 0 .4em; */
    margin-top: 0px;
    /* margin-bottom: 0.5em; */
    /* margin-left: 0.5em; */
    line-height: .9em;
    
}

p.self {
    margin-top: 0px;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.socialLinks {
    font-style: italic;
    margin-left: 0.5em;
}

@media only screen and (max-width: 950px) {

    h1.rootHeader {
        margin-top: 0px;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
        font-weight: bold;
    }
}