@import url('https://rsms.me/inter/inter.css');

body {
    font-family: 'Inter', sans-serif;
}

h2.indexBlogTitle {
    margin: 1em 0 0;
    line-height: 1.1em;
}

.blogPostBlurb {
    margin-bottom: 3em;
    max-width: 60em;
    min-width: 300px;
}

p.indexBlogPara {
    margin-top: 0.5em;
}

hr {
    margin-top: 0;
    margin-bottom: 4em;
}

@media only screen and (max-width: 950px) {
    .blogPostBlurb {
        margin-bottom: 2em;
    }

    hr {
        margin-bottom: 2em;
    }

}