h2.indexBlogTitle {
    /* margin-bottom: 0.3em; */
    margin: 1em 0 0;
    font-size: 2.5em;
    line-height: 1.1em;
    font-weight: 900;
}

.blogPostBlurb {
    margin-bottom: 5em;
    max-width: 60em;
}

p.indexBlogPara {
    font-size: 18px;
}

hr {
    margin-top: 0;
    margin-bottom: 4em;
}