h2.indexBlogTitle {
    margin: 1em 0 0;
    font-size: 2.5em;
    line-height: 1.1em;
    font-weight: 900;
}

.blogPostBlurb {
    margin-bottom: 5em;
    max-width: 60em;
    min-width: 300px;
}

p.indexBlogPara {
    font-size: 18px;
    margin-top: 0.5em;
}

hr {
    margin-top: 0;
    margin-bottom: 4em;
}

@media only screen and (max-width: 950px) {
    .blogPostBlurb {
        margin-bottom: 3em;
    }

    hr {
        margin-bottom: 2em;
    }
}